USE [master]
GO
/****** Object:  Database [QuanLyCamDo_K235480106047]    Script Date: 12/05/2026 8:27:31 PM ******/
CREATE DATABASE [QuanLyCamDo_K235480106047]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo_K235480106047', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCamDo_K235480106047.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamDo_K235480106047_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCamDo_K235480106047_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo_K235480106047].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo_K235480106047]
GO
/****** Object:  UserDefinedTableType [dbo].[Table_DanhSachTaiSan]    Script Date: 12/05/2026 8:27:32 PM ******/
CREATE TYPE [dbo].[Table_DanhSachTaiSan] AS TABLE(
	[TenTaiSan] [nvarchar](255) NULL,
	[GiaTriUocTinh] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](500) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 12/05/2026 8:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalcMoneyContract](@MaHD INT, @TargetDate DATE)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @Goc DECIMAL(18, 2), @NgayLap DATE, @D1 DATE;
    DECLARE @TongTien DECIMAL(18, 2);
    DECLARE @CurrentDate DATE;

    -- 1. Lấy thông tin hợp đồng
    SELECT @Goc = SoTienGoc, @NgayLap = CAST(NgayLap AS DATE), @D1 = Deadline1 
    FROM HopDong WHERE MaHD = @MaHD;

    IF @TargetDate <= @NgayLap RETURN @Goc;

    -- 2. TÍNH LÃI ĐƠN (Từ NgayLap đến D1 hoặc TargetDate)
    DECLARE @EndDateForSimpleInterest DATE = CASE WHEN @TargetDate < @D1 THEN @TargetDate ELSE @D1 END;
    DECLARE @SoNgayLaiDon INT = DATEDIFF(DAY, @NgayLap, @EndDateForSimpleInterest);
    
    -- Tiền nợ sau giai đoạn lãi đơn
    SET @TongTien = @Goc + (@Goc * 0.005 * @SoNgayLaiDon);

    -- 3. TÍNH LÃI KÉP (Nếu TargetDate vượt quá D1)
    IF @TargetDate > @D1
    BEGIN
        SET @CurrentDate = DATEADD(DAY, 1, @D1);
        
        -- Dùng vòng lặp để tính lãi kép theo từng ngày
        WHILE @CurrentDate <= @TargetDate
        BEGIN
            -- Lãi mỗi ngày là 0.5% dựa trên tổng số tiền (Gốc + Lãi cũ) của ngày hôm trước
            SET @TongTien = @TongTien + (@TongTien * 0.005);
            SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate);
        END
    END

    RETURN ROUND(@TongTien, 2);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 12/05/2026 8:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction](@MaLog INT, @TargetDate DATETIME)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @MaHD INT, @DuNoTaiThoiDiemDo DECIMAL(18, 2), @NgayBienDong DATETIME;
    
    -- Lấy thông tin từ bảng Log
    SELECT @MaHD = MaHD, @DuNoTaiThoiDiemDo = DuNoHienTai, @NgayBienDong = NgayBienDong 
    FROM LogBienDong WHERE MaLog = @MaLog;

    -- Nếu ngày mục tiêu trước ngày biến động, kết quả không hợp lệ (hoặc trả về 0)
    IF (@TargetDate < @NgayBienDong) RETURN 0;

    -- Tính toán dựa trên dư nợ tại thời điểm đó (áp dụng lãi suất đơn 0.5%/ngày)
    DECLARE @SoNgay INT = DATEDIFF(DAY, @NgayBienDong, @TargetDate);
    RETURN @DuNoTaiThoiDiemDo + (@DuNoTaiThoiDiemDo * 0.005 * @SoNgay);
END;
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/05/2026 8:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[SoCCCD] [varchar](20) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SoCCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 12/05/2026 8:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayLap] [datetime] NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[SoTienGoc] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BaoCaoNoXau]    Script Date: 12/05/2026 8:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_BaoCaoNoXau] AS
SELECT 
    kh.HoTen,
    kh.SoDienThoai,
    hd.SoTienGoc,
    hd.Deadline1,
    DATEDIFF(DAY, hd.Deadline1, GETDATE()) AS SoNgayQuaHan,
    dbo.fn_CalcMoneyContract(hd.MaHD, GETDATE()) AS TongNoHienTai,
    dbo.fn_CalcMoneyContract(hd.MaHD, DATEADD(MONTH, 1, GETDATE())) AS DuKienNoThangSau
FROM HopDong hd
JOIN KhachHang kh ON hd.MaKH = kh.MaKH
WHERE hd.Deadline1 < GETDATE() 
  AND hd.TrangThai NOT IN (N'Đã thanh toán đủ', N'Đã thanh lý tài sản');
GO
/****** Object:  Table [dbo].[LogBienDong]    Script Date: 12/05/2026 8:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogBienDong](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[NgayBienDong] [datetime] NULL,
	[LoaiBienDong] [nvarchar](100) NULL,
	[SoTienThayDoi] [decimal](18, 2) NULL,
	[DuNoHienTai] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 12/05/2026 8:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[TenTaiSan] [nvarchar](255) NOT NULL,
	[GiaTriUocTinh] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LogBienDong] ADD  DEFAULT (getdate()) FOR [NgayBienDong]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LogBienDong]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 12/05/2026 8:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GiaHanHopDong]
    @MaHD INT,
    @NgayDeadline1_Moi DATE,
    @NgayDeadline2_Moi DATE
AS
BEGIN
    DECLARE @TongNoHienTai DECIMAL(18,2) = dbo.fn_CalcMoneyContract(@MaHD, GETDATE());
    DECLARE @Goc DECIMAL(18,2) = (SELECT SoTienGoc FROM HopDong WHERE MaHD = @MaHD);
    DECLARE @TienLaiPhaiDong DECIMAL(18,2) = @TongNoHienTai - @Goc;

    -- 1. Yêu cầu thanh toán tiền lãi trước khi gia hạn
    PRINT N'Tiền lãi khách cần đóng để gia hạn: ' + CAST(@TienLaiPhaiDong AS NVARCHAR(50));

    -- 2. Cập nhật Deadline và reset ngày lập (để tính lại lãi đơn từ mốc này)
    UPDATE HopDong
    SET Deadline1 = @NgayDeadline1_Moi,
        Deadline2 = @NgayDeadline2_Moi,
        NgayLap = GETDATE(),
        TrangThai = N'Đang vay'
    WHERE MaHD = @MaHD;

    -- 3. Ghi Log
    INSERT INTO LogBienDong (MaHD, LoaiBienDong, SoTienThayDoi, DuNoHienTai, GhiChu)
    VALUES (@MaHD, N'Gia hạn hợp đồng', @TienLaiPhaiDong, @Goc, N'Đã đóng lãi và dời Deadline');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TiepNhanHopDong]    Script Date: 12/05/2026 8:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TiepNhanHopDong]
    @MaKH INT,
    @SoTienGoc DECIMAL(18, 2),
    @Deadline1 DATE,
    @Deadline2 DATE,
    @DSTaiSan Table_DanhSachTaiSan READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Lưu thông tin hợp đồng
        INSERT INTO HopDong (MaKH, SoTienGoc, Deadline1, Deadline2, TrangThai)
        VALUES (@MaKH, @SoTienGoc, @Deadline1, @Deadline2, N'Đang vay');

        DECLARE @MaHD_Moi INT = SCOPE_IDENTITY();

        -- 2. Lưu danh sách tài sản
        INSERT INTO TaiSan (MaHD, TenTaiSan, GiaTriUocTinh, MoTa)
        SELECT @MaHD_Moi, TenTaiSan, GiaTriUocTinh, MoTa FROM @DSTaiSan;

        -- 3. Ghi Log khởi tạo
        INSERT INTO LogBienDong (MaHD, LoaiBienDong, SoTienThayDoi, DuNoHienTai, GhiChu)
        VALUES (@MaHD_Moi, N'Mở hợp đồng', @SoTienGoc, @SoTienGoc, N'Bắt đầu hợp đồng vay');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo_V2]    Script Date: 12/05/2026 8:27:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XuLyTraNo_V2]
    @MaHD INT,
    @SoTienKhachDua DECIMAL(18, 2),
    @NguoiThu NVARCHAR(100) = N'Nhân viên hệ thống'
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. KHAI BÁO CÁC BIẾN CẦN THIẾT
    DECLARE @TongNoHienTai DECIMAL(18, 2);
    DECLARE @DuNoSauKhiTra DECIMAL(18, 2);
    DECLARE @TrangThaiHD NVARCHAR(50);

    -- 2. KIỂM TRA TRẠNG THÁI THANH LÝ
    -- Nếu có bất kỳ tài sản nào trong hợp đồng đã chuyển sang 'Đã bán thanh lý'
    IF EXISTS (SELECT 1 FROM TaiSan WHERE MaHD = @MaHD AND TrangThai = N'Đã bán thanh lý')
    BEGIN
        PRINT N'THÔNG BÁO: Tài sản của hợp đồng này đã bị thanh lý. Không thu tiền, không trả đồ!';
        RETURN;
    END

    -- 3. TÍNH TỔNG NỢ THỰC TẾ (Gọi hàm từ Event 2)
    SET @TongNoHienTai = dbo.fn_CalcMoneyContract(@MaHD, GETDATE());
    SET @DuNoSauKhiTra = @TongNoHienTai - @SoTienKhachDua;

    -- Đảm bảo không trả dư tiền (nếu cần logic này)
    IF @DuNoSauKhiTra < 0 SET @DuNoSauKhiTra = 0;

    -- 4. CẬP NHẬT TRẠNG THÁI HỢP ĐỒNG & TÀI SẢN
    IF @DuNoSauKhiTra = 0
    BEGIN
        -- Trường hợp trả hết nợ
        UPDATE HopDong 
        SET TrangThai = N'Đã thanh toán đủ' 
        WHERE MaHD = @MaHD;

        UPDATE TaiSan 
        SET TrangThai = N'Đã trả khách', NgayCapNhat = GETDATE() 
        WHERE MaHD = @MaHD;

        PRINT N'Xác nhận: Khách đã thanh toán đủ. Đã cập nhật trạng thái trả hết đồ.';
    END
    ELSE
    BEGIN
        -- Trường hợp trả một phần
        UPDATE HopDong 
        SET TrangThai = N'Đang trả góp' 
        WHERE MaHD = @MaHD;

        PRINT N'Xác nhận: Khách trả một phần. Dư nợ còn lại: ' + CAST(@DuNoSauKhiTra AS NVARCHAR(50));
    END

    -- 5. GHI NHẬN VÀO LOG (Audit Log)
    INSERT INTO LogBienDong (MaHD, NgayBienDong, LoaiBienDong, SoTienThayDoi, DuNoHienTai, GhiChu)
    VALUES (
        @MaHD, 
        GETDATE(), 
        N'Khách trả nợ', 
        @SoTienKhachDua, 
        @DuNoSauKhiTra, 
        N'Người thu: ' + @NguoiThu + N'. Tổng nợ trước khi trả: ' + CAST(@TongNoHienTai AS NVARCHAR(50))
    );

    -- 6. ĐƯA RA DANH SÁCH GỢI Ý TRẢ LẠI TÀI SẢN
    -- Điều kiện: Giá trị tài sản còn lại (các món chưa trả) >= Dư nợ còn lại
    -- Ở đây ta liệt kê các món tài sản mà nếu trả món đó cho khách, 
    -- tổng giá trị các món còn giữ lại vẫn đủ bao phủ khoản nợ.
    
    PRINT N'--- DANH SÁCH GỢI Ý TÀI SẢN CÓ THỂ TRẢ LẠI ---';
    
    DECLARE @TongGiaTriTaiSanHienCo DECIMAL(18, 2);
    SELECT @TongGiaTriTaiSanHienCo = SUM(GiaTriUocTinh) 
    FROM TaiSan WHERE MaHD = @MaHD AND TrangThai = N'Đang cầm cố';

    SELECT 
        MaTS, 
        TenTaiSan, 
        GiaTriUocTinh,
        (@TongGiaTriTaiSanHienCo - GiaTriUocTinh) AS GiaTriConLaiNeuTraMonNay,
        @DuNoSauKhiTra AS DuNoHienTai
    FROM TaiSan
    WHERE MaHD = @MaHD 
      AND TrangThai = N'Đang cầm cố'
      AND (@TongGiaTriTaiSanHienCo - GiaTriUocTinh) >= @DuNoSauKhiTra;

END;
GO
USE [master]
GO
